#chart {
    width: 500px;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
}

.column {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
}

.bar {
    width: 100%;
    margin: 5px 0;
    border: 1px solid #009256;
    background: #009256;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 2px 5px #4faf8c;
}

.answer {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 4px auto;
    height: 150px;
    width: 300px;
    border-radius: 200px 200px 0 0;
    background: #97bf0d;
}

#circle:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #97bf0d;
    z-index: -1;
}

#needle {
    position: relative;
    width: 7px;
    height: 98%;
    border-radius: 100% 100% 2px 2px;
    transform-origin: bottom;
    background: #d4d700;
}

#needle:after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: -1px;
    left: -2px;
    background: #1b9195;
}

#percent {
    display: block;
    text-align: center;
    font-size: 40px;
    color: #555;
}